<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    <title>Fuego.link | Transfer files directly with ease</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/libraries.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <% if get_flash(@conn, :info) do %><p id="alert" class="alert alert-info"><%= get_flash(@conn, :info) %></p><% end %>
      <% if get_flash(@conn, :error) do %><p id="alert" class="alert alert-danger"><%= get_flash(@conn, :error) %></p><% end %>

      <%= @inner %>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("app")</script>
  </body>
</html>
