<form action="<%= note_path(@conn, :create)%>" method="post">
  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token %>">
  <textarea name="message" placeholder="Enter your message here...">
  </textarea>
  <button type="submit">Create Note</button>
</form>