
<ul id="pools">
  <li class="active">
    <a>
      <span class="name">The Simpsons Season 5, Episode 4.mp4</span>
      <span class="status finished"/>
    </a>
  </li>
  <li>
    <span class="name">Game of Thrones, Season 3 Ep 14.mp4</span>
    <span class="status downloading"/>
  </li>
</ul>