
html, body, .container-fluid, #top
  height: 100%
  margin: 0
  padding: 0

body
  color: #222
  font-family: sans-serif

#top

  .full-width
    display: flex

    min-height: 100vh

    .left
      order: -1
      flex: 0 0 20em
      position: relative

    .right
      flex: 1


#leftNav
  color: #ccc
  padding-top: 80px
  background-color: #333
  min-height: 100%
  width: 100%
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-between

  #navigation
    ul
      width: 100%
      padding-left: 0px

      li
        width: 100%
        list-style-type: none
        font-size: 1.3em
        min-height: 60px
        padding-left: 40px

        .name
          display: inline-block
          padding: 16px 10px 10px 10px
          cursor: pointer

          .desc
            word-break: break-all
            word-break: break-word

        a
          &.active
            color: #eee

        &:hover
          background-color: #555

  #bottom-navigation
    padding-left: 30px
    padding-bottom: 10px
    width: 100%

    #upload
      margin-bottom: 20px
      width: 82%

    input[type="file"]
      display: none

    #credits
      text-align: right
      margin-right: 10px

#main
  padding: 50px

  #actionArea
    margin-top: 100px

#file
  display: none

.cinema
  margin: 0px auto
  width: 80%

  img
    width: 100%

.rgChart
  display: flex
  flex-flow: row
  width: 200px

  div
    height: 10px
    flex: 1 100%

    &.green
      background-color: #3c3

    &.red
      background-color: #c33

.progressBar
  height: 7px
  width: 100%
  margin-top: 10px

  .inner
    background-color: #1a1
    height: 100%
    color: #eee
    font-size: 0.4em
    text-align: right
    line-height: 7px
    overflow: hidden

.pool-view
  display: flex
  flex: 1
  flex-direction: column

  // .pool-info
        

  // .network-stats
    

  .pool-view-header
    order: -1
    flex: 1
    

    .btn
      float: right
      margin-right: 7px

  .cinema
    order: 1
    flex: 1
    margin-top: 10px
    width: 100%
    min-height: 100px
    display: flex
    align-items: center
    flex-direction: row

    .loading
      color: #ccc
      font-size: 1.2em
      margin: auto

    .play, .download
      margin: auto

    video
      width: 100%


