
html, body, .container-fluid, #top
  height: 100%
  margin: 0
  padding: 0

body
  color: #222
  font-family: sans-serif

#top

  .full-width
    display: -webkit-flex
    display: flex

    min-height: 100vh

    .left
      order: -1
      -webkit-flex: 0 0 20em
      flex: 0 0 20em
      position: relative

    .right
      -webkit-flex: 1
      flex: 1


#leftNav
  color: #ccc
  padding-top: 80px
  background-color: #333
  min-height: 100%
  width: 100%
  position: absolute
  display: -webkit-flex;
  display: flex
  -webkit-flex-direction: column
  flex-direction: column
  justify-content: space-between

  #navigation
    ul
      width: 100%
      padding-left: 0px

      li
        width: 100%
        list-style-type: none
        font-size: 1.3em
        min-height: 60px
        padding-left: 40px

        .name
          display: inline-block
          padding: 16px 10px 10px 10px
          cursor: pointer

          .desc
            word-break: break-all
            word-break: break-word

        a
          &.active
            color: #eee

        &:hover
          background-color: #555

  #bottom-navigation
    padding-left: 30px
    padding-bottom: 10px
    width: 100%

    #upload
      margin-bottom: 20px
      width: 82%

    input[type="file"]
      display: none

    #credits
      text-align: right
      margin-right: 10px

#main
  padding: 50px

  #actionArea
    margin-top: 100px

  .pool-error
    background-color: #f2dede
    width: 60%
    padding: 0.3em
    margin: auto
    text-align: center
    border-radius: 3px
    font-size: 1.4em
    margin-top: 20%
    line-height: 2.0em

  .share-panel
    clear: both
    float: right
    padding-top: 20px

    input
      float: right
      clear: both
      padding: 10px
      margin: 10px
      width: 650px
      text-align: center

#file
  display: none

.cinema
  margin: 0px auto
  width: 80%

  img
    width: 100%

.rgChart
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: row
  flex-flow: row
  width: 200px

  div
    height: 10px
    -webkit-flex: 1 100%
    flex: 1 100%

    &.green
      background-color: #3c3

    &.red
      background-color: #c33

.progressBar
  height: 7px
  width: 100%
  margin-top: 10px

  .inner
    background-color: #1a1
    height: 100%
    color: #eee
    font-size: 0.4em
    text-align: right
    line-height: 7px
    overflow: hidden

.pool-view
  display: -webkit-flex;
  display: flex
  -webkit-flex: 1
  flex: 1
  -webkit-flex-flow: column
  flex-direction: column

  // .pool-info
        

  // .network-stats
    

  .pool-view-header
    order: -1
    -webkit-flex: 1
    flex: 1
    

    .btn
      float: right
      margin-right: 7px

  .cinema
    order: 1
    -webkit-flex: 1
    flex: 1
    margin-top: 10px
    width: 100%
    min-height: 100px
    display: -webkit-flex
    display: flex
    align-items: center
    -webkit-flex-direction: row
    flex-direction: row

    .loading
      color: #ccc
      font-size: 1.2em
      margin: auto

    .play, .download
      margin: auto

    video
      width: 100%


