<div class="row">
  <div class="col-lg-6">
    <h1>Burn after reading</h1>

    <div class="row">
      <input type="file" id="fileInput">
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div id="pools"></div>
        <a id="downloadEl"></a>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  by @justHGH
</div>